# Workshop 01

- Name: Ran Arino
- Student ID: 153073200
- Email: rarino@myseneca.ca
- Course: Social Media Analytics
- Course ID: BDA600NAA.07578.2241
- Professor: Dr. Pantea Koochemeshkian

In [2]:
import numpy as np
import pandas as pd

### Part 1

In [3]:
# load data set
data = pd.read_csv("full-corpus-x.csv")
data.head()

                                           TweetText
0  Now all @Apple has to do is get swype on the i...
1  @Apple will be adding more carrier support to ...
2  Hilarious @youtube video - guy does a duet wit...
3  @RIM you made it too easy for me to switch to ...
4  I just realized that the reason I got into twi...