# Assignment 03


- Name: Ran Arino
- Student ID: 153073200
- Email: rarino@myseneca.ca
- Course: Predictive Analytics
- Course ID: BDM500NAA.05379.2237
- Professor: Dr. Tamanna Eini Keleshteri

<b>All my observations are highlighted by <font color='limegreen'>this color</font> and comment out in the code.</b>

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# load the original dataset
df = pd.read_csv('PORT941UR.csv')
df.head()

         DATE  PORT941UR
0  1990-01-01        4.1
1  1990-02-01        4.1
2  1990-03-01        4.1
3  1990-04-01        4.1
4  1990-05-01        4.2